* {
  margin: 0;
  padding: 0;
}

body {
}

:root {
  --bg-color: var(--el-color-white);
}

.header {
  @apply py-5 w-full relative box-border overflow-hidden text-white text-sm bg-gray-800 select-none;
}

.header .collapse-btn {
  @apply float-left px-3 cursor-pointer text-sm;
}

.header .logo {
  @apply float-left w-80 text-lg;
}
